h1{
color: rgb(74, 151, 240);
}
h2
{
    color:darkturquoise;
}

.container1{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container2{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
button{
    background-color: goldenrod;
    height: 100px;
    width: 100px;
}